

.header {
  background-color: rgba(32, 94, 255, 0.5);
  border-radius: 25px;
  text-align: center;
}

.blueSquare {
  background-color: blue;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.redSquare {
  background-color: red;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.pinkSquare {
  background-color: pink;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.card {
  text-align: center;
  align-items: center;
}
